<p id="notice"><%= notice %></p>

<h1 class="title">Genre</h1>

<div class="columns is-multiline is-4">
  <%= render partial: 'genres/genre',
             collection: @genres,
             locals: { show_link: true } %>
</div>

<br>
