<p id="notice"><%= notice %></p>

<h1 class="title">Platforms</h1>

<div class="columns is-multiline is-4">
  <%= render partial: 'platforms/platform',
             collection: @platforms,
             locals: { show_link: true } %>
</div>

<br>
