<h1>Home</h1>
<p>Welcome to JB Games. We sell slightly used <%= link_to "games", games_path %>. You look through all games or find a game through <%= link_to "genre", genres_path %> or <%= link_to "platform", platforms_path %>.</p>

