<p id="notice"><%= notice %></p>

<h1 class="title">Games</h1>

<div class="columns is-multiline is-4">
  <%= render partial: 'games/game',
             collection: @games,
             locals: { show_link: true } %>
</div>


<br>
