
<div class="columns is-vcentered">
    <div class="column is-half">
      <div class="card">
          <div class="card-content">
                <h3 class="title is-5">About</h3>
                <p>JB Games is a used game retailer, and we sell used games for a "reasonable" price. Our games maybe be old, but our prices are like the games are brand new. So whether you enjoy old classics or blatant cash grabs, we are the store for you.</p>
                <br>
                <p>Over the years or "competitive" prices have made some customers say we are ripping them off. So to combat those rumors, we have reduced our prices and started charging extra for luxuries such as game boxes, store bags, and instruction manuals. There is also a "small" handing fee as all of our games are "antiques." </p>
                <br>
                <p>We pride ourselves on excellent customer support. Our one employee per store will be plenty to service all of our customers.</p>
          </div>
      </div>
    </div> 
</div>

