<div class="columns">
    <div class="column is-one-half">
        <div class="card">
            <div class="card-content">
                <h3 class="title is-5">Phone</h3>
                <br>
                <p>Interested in talking to a representative please call us at.</p>
                <h6>+1 877 888 55555</h6>
            </div>
        </div>
    </div>

    <div class="column is-one-half">
        <div class="card">
            <div class="card-content">
                <h3 class="title is-5">Email</h3>
                <br>
                <p>If you would like to email a representative you can email us at.</p>
                <h6>Info@JBGames.com</h6>
            </div>
        </div>
    </div>
</div>