<div class="columns">
    <div class="column is-one-half">
        <div class="card">
            <div class="card-content">
                <h3 class="title is-5">Phone</h3>
                <br>
                <p><%= Contact.first.phone_content %></p>
                <h6><%= Contact.first.phone %></h6>
            </div>
        </div>
    </div>

    <div class="column is-one-half">
        <div class="card">
            <div class="card-content">
                <h3 class="title is-5">Email</h3>
                <br>
                <p><%= Contact.first.email_content %></p>
                <h6><%= Contact.first.email %></h6>
            </div>
        </div>
    </div>
</div>